body {
  margin: 0px;
}
h1 {
  font-family: fantasy;
  font-size: 3em;
  border-bottom: 2px solid pink;
  border-right: 2px solid pink;
  width: 400px;
  text-align: center;
  box-shadow: 4px 4px 5px #888888;
  margin-top: 10px;
}

img {
  width: 450px;
  height: 300px;
  margin: 10px;
  transition: all 1s;
}

img:hover {
  transform: scale(1.1);
}
/* 
1. Flex Box 적용할 것
2. 줄바꿈이 되도록 할 것
3. 가로 정렬을 `center`로 할 것. */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
